
{% block contentGenre %}
<div class="select-list">
    <div class="title">Select Genres</div>
    <div class="select-options">
        <p>TV Show</p>
        {% for id,name in genresTv.items %}
        <div class="option"> 
            <input type="checkbox" name="genres" id="{{id}}" value="{{id}}" />
            <label for="{{id}}">{{name}}</label>
        </div>
        {% endfor %}
        <p>Movie</p>
        {% for id,name in genresMovie.items %}
        <div class="option"> 
            <input type="checkbox" name="genres" id="{{id}}" value="{{id}}" />
            <label for="{{id}}">{{name}}</label>
        </div>
        {% endfor %}
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
        (function ($) {
        $.fn.multiselect = function () {
            var selector = this;
            var options = $.extend(
            {
                onChange: function () {}
            },
            arguments[0] || {}
            );

            activate();

            /////////

            function activate() {
            //events
            $(selector)
                .find(".title")
                .on("click", function (e) {
                $(this).parent().find(".select-options").toggle();
                });

            $(selector)
                .find('input[type="checkbox"]')
                .change(function (e) {
                options.onChange.call(this);
                });
            }
        };
        })(jQuery);

        $(document).ready(function () {
        $(".select-list").multiselect({
            onChange: updateTable
        });
        });

        function updateTable() {
        var checkboxValue = $(this).val();
        var isChecked = $(this).is(":checked");

        }
  </script>



{% endblock %} 