{% block moviecontainer %}


<div class="list">
        {% for production in productions %}
        <div class="square">
          {% if production.img %}
            <div class="cover" style="background:url('{{production.img}}')"></div>
          {% elif not production.img %}
            <div class="cover" style="background:url('https://i.postimg.cc/13vcM0cW/nocover.jpg')"></div>
          {% endif %}
          <div class="text">
            <div class="info">
              <span class="match">{{production.title}}</span>
              <span class="rating">{{production.rating}} | {{production.type_of}}</span>
              <!-- <span class="seasons">{{production.type_of}}</span> -->
            </div>
            <div class="icons">
              <span class="btn-link">Watch Now</span>
            </div>
          </div>
        </div>
        {% endfor %}
    
</div>

{% endblock %}




