{% block moviecontainer %}


<div class="list">
        {% for production in productions %}
        <div class="square">
          {% if production.img %}
            <div class="cover" style="background:url('{{production.img}}')"></div>
          {% elif not production.img %}
            <div class="cover" style="background:url('https://i.postimg.cc/13vcM0cW/nocover.jpg')"></div>
          {% endif %}
          <div class="text">
            
            <div class="info">
              <h3 class="info-title">{{production.title}}</h3>
              <span class="rating">{{production.rating}} | {{production.type_of}}</span>
              <!-- <span class="seasons">{{production.type_of}}</span> -->
            </div>
            <button class="play-btn"><a href="#">Play</a></button>
          </div>
        </div>
        {% endfor %}
    
</div>

{% endblock %}




