{% load static %}

<!DOCTYPE html>
<html>
  <head>
	  <meta charset="UTF-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	  <title>Spinflix</title>
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
	    integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
	    crossorigin="anonymous" />
	  <link rel="preconnect" href="https://fonts.gstatic.com" />
	  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Permanent+Marker&display=swap" rel="stylesheet" />
	  <link rel="stylesheet" href="{% static 'moviegenerator/css/teste.css' %}"/>
      <link rel="stylesheet" href="{% static 'moviegenerator/css/generobox.css' %}"/>
      <link rel="stylesheet" href="{% static 'moviegenerator/css/slider.css' %}"/>
      <link rel="stylesheet" href="{% static 'moviegenerator/css/loader.css' %}"/>
      <link rel="stylesheet" href="{% static 'moviegenerator/css/type.css' %}"/>
      <script src="https://code.jquery.com/jquery-3.5.1.js" 
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
            crossorigin="anonymous"></script>
  </head>

  <body>

    <section>
        <header>
            <a href="{% url 'index' %}"><img src="{% static 'moviegenerator/img/spinflix.png' %}" class="logo"></a>
            <span class="subtitle">Spin and Watch.</span>
            <div class="links">
                <a href="{% url 'index' %}" class="link" >Início</a>
                <a href="{% url 'mylist' %}" class="link" >My list</a>
            </div>
        </header>
        <div class="container">
            <div class="preferences-input">
                <form class="form-preferences" method="post">
                    {% csrf_token %}
                    <h2>Select your preferences</h2>
                    <div class="form-type">
                        {% include "moviegenerator/type.html" %}
                    </div>
                    <div class="form-genre2">
                        <h3>Genre</h3>
                        {% include "moviegenerator/generobox.html" %}
                    </div>
    
                    <div class="form-imdb">
                        <h3>Rating</h3>
                        {% include "moviegenerator/slider.html" %}
                    </div>
                    
    
                    <button class="btn-spin" type="submit">Spin</button>
                </form>
            </div>
            {% if title %}
            <form class="output" id="formOutput" method="post">
                {% csrf_token %}
                <img src= "{{img}}" class="movie-cover">
                <div class="content">
                    <h2>{{title}}</h2>
                    <p>{{genres}} | {{rating}} | {{year}}</p>
                    <p class="synopsis">
                        {{overview}}
                    </p>
                    <input type="hidden" id="id_api" name="id_api" value="{{id_api}}">
                    <input type="hidden" id="title" name="title" value="{{title}}">
                    <input type="hidden" id="rating" name="rating" value="{{rating}}">
                    <input type="hidden" id="link" name="link" value="{{link}}">
                    <input type="hidden" id="img" name="img" value="{{img}}">
                    <input type="hidden" id="type_of" name="type_of" value="{{type_of}}">
                    <button type="submit" class="btn-add" id="taskAdd" name="taskAdd" value="">+</button>
                    <button class="btn"><a href = "{{link}}">Watch Now</a></button>
                </div>
            </form>
            {% endif %}
        </div>
        <script src="{% static 'moviegenerator/script/teste.js' %}"></script>
    </section>
  </body>
</html>