{% load static %}

<!DOCTYPE html>
<html>
  <head>
	  <meta charset="UTF-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	  <title>Spinflix</title>
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
	    integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
	    crossorigin="anonymous" />
	  <link rel="preconnect" href="https://fonts.gstatic.com" />
	  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Permanent+Marker&display=swap" rel="stylesheet" />
	  <link rel="stylesheet" href="{% static 'moviegenerator/css/teste.css' %}"/>
      <link rel="stylesheet" href="{% static 'moviegenerator/css/generobox.css' %}"/>
      <link rel="stylesheet" href="{% static 'moviegenerator/css/slider.css' %}"/>
  </head>

  <body>
    <section>
        <header>
            <a href="{% url 'index' %}"><img src="{% static 'moviegenerator/img/spinflix.png' %}" class="logo"></a>
            <span class="subtitle">Spin and Watch.</span>
            <div class="links">
                <a href="{% url 'index' %}" class="link" >Início</a>
                <a href="{% url 'mylist' %}" class="link" >My list</a>
            </div>
        </header>
        <div class="container">
            <div class="preferences-input">
                <form class="form-preferences" method="post">
                    {% csrf_token %}
                    <h2>Select your preferences</h2>
                    <div class="form-genre2">
                        <h3>Genre</h3>
                        {% include "moviegenerator/generobox.html" %}
                    </div>
    
                    <div class="form-imdb">
                        <h3>Rating</h3>
                        {% include "moviegenerator/slider.html" %}
                    </div>
                    <div class="form-type">
                        <h3>Type</h3>
                        <div>
                            <input type="checkbox" id="typemovie" name="type" value="movie">
                            <label for="typemovie">Movie</label>
                        </div>
                        <div>
                            <input type="checkbox" id="typetvshow" name="type" value="tv">
                            <label for="typetvshow">TV show</label>
                        </div>
                    </div>
    
                    <button class="btn-spin" type="submit">Spin</button>
                </form>
            </div>
            <form class="output" method="post">
                {% csrf_token %}
                <img src= "{{img}}" class="movie-cover">
                <div class="content">
                    <h2>{{title}}</h2>
                    <p>{{genre}} | {{rating}} | {{year}}</p>
                    <p class="synopsis">
                        {{overview}}
                    </p>
                    <button type="submit" class="btn" name="taskAdd"><a href = "{{link}}">Watch Now</a></button>
                </div>
            </form>
        </div>
    </section>
  </body>
</html>